# tasks file for percona-client
---
- name: version support | check
  fail:
    msg: "Percona client version {{ percona_client_version }} is not supported"
  when: percona_client_version | string not in percona_client_versions_supported
  tags:
    - percona-client-version-support-check
